<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd ">


	<!-- 配置shiroFilter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"></property>
		<!-- 配置loginUrl认证地址，若没有认证则会请求该地址进行认证，将由FormAuthenticationFilter处理 -->
		<property name="loginUrl" value="/login/login.action"></property>
		<!-- 配置访问遭权限拒绝后跳转的连接 -->
		<property name="unauthorizedUrl" value="/refuse.jsp"></property>
		<property name="filterChainDefinitions">
			<value>
				<!-- 配置rememberMe地址 -->
				/items/listItems.action = user
				<!-- 定义用户登出时 -->
				/logout.action = logout
				<!-- 定义无权访问页面是任何人都能访问的 -->
				/refuse.jsp = anon
				<!-- 定义剩下的连接需要验证才能访问 -->
				/** = authc
			</value>
		</property>
	</bean>

	<!-- 配置securityManager -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!-- 注入realm -->
		<property name="realm" ref="customRealm"></property>
		<!-- 注入cacheManager -->
		<property name="cacheManager" ref="cacheManager"></property>
		<!-- 注入sessionManager -->
		<property name="sessionManager" ref="sessionManager"></property>
		<!-- 注入rememberMeManager -->
		<property name="rememberMeManager" ref="rememberMeManager"></property>
	</bean>

	<!-- 配置自定义的realm -->
	<bean id="customRealm" class="org.jxnu.controller.realm.CustomRealm2">
		<!-- 注入自定义认证匹配器 -->
		<property name="credentialsMatcher" ref="credentialsMatcher"></property>
	</bean>

	<!-- 配置自定义认证匹配器 -->
	<bean id="credentialsMatcher"
		class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<!-- 散列算法名：md5 -->
		<property name="hashAlgorithmName" value="md5"></property>
		<!-- 自定义散列次数：1次 -->
		<property name="hashIterations" value="1"></property>
	</bean>
	
	<!-- 配置缓存管理器 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml"></property>
	</bean>
	
	<!-- 配置session管理器 -->
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<!-- 设置session超时时间为半个小时，单位为毫秒 -->
		<property name="globalSessionTimeout" value="1800000"></property>
		<!-- 是否删除已死亡session -->
		<property name="deleteInvalidSessions" value="true"></property>
	</bean>
	
	<!-- 配置自定义FormAuthenticationFilter，可以定义form表单的各种input的name值 -->
	<!-- <bean id="formAuthenticationFilter" class="org.apache.shiro.web.filter.authc.FormAuthenticationFilter">
		在表单提交登陆验证的时候checkBox的name必须为rememberME
		<property name="rememberMeParam" value="rememberME"></property>
	</bean> -->
	
	
	<!-- 配置rememberMeManager -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<property name="cookie" ref="rememberMeCookie"></property>
	</bean>
	<!-- 配置rememberMeCookie -->
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<!-- 设置cookie的名字 -->
		<property name="name" value="rememberMe"></property>
		<!-- 设置最大生效日期 -->
		<property name="maxAge" value="30"></property>
	</bean>

</beans>